body {
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
    height: 1%;
}

.h1 {
    font-weight: 900;
    color: white;
}

.city{
    font-size: 3em;
}

.date{
    font-size: 2em;
}

.container-temp{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 3px, 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 6em;
    font-weight: 900;
    text-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather{
    font-size: 3em;
}

.low-high{
    font-size: 2em;
}

.mainDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
}

.cardStyle {
    border-radius: 15px;
    border: 1px darkorchid dashed;
    background-color: #515ada7a;
}

.logoMassaFM {
    width: 25em;
    margin: 0 5em;
}